:root{
    --white:#fff;
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --blue-dark: hsl(238, 29%, 16%);
    --soft-red:hsl(14, 88%, 65%);
    --shadow: hsla(238, 29%, 16%,0.2);
    --grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
}
html{
    box-sizing: border-box;
    min-height: 100%;
}
*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--blue-dark);
}
