@import url('main.css');
#container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    width: 85%;
    min-height: 34rem;
    margin: 10rem auto;
    background-color: var(--white);
    border-radius: 1.5rem;
    position: relative;
    box-shadow: 0 35px 30px var(--shadow);
}
#images{
    position: relative;
    height: 7rem;
    overflow:visible;
}
#images::before{
    content: url(/assets/img/bg-pattern-mobile.svg);
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 3.4rem;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#images::after{
    content: url(/assets/img/illustration-woman-online-mobile.svg);
    position: absolute;
    width: 73%;
    max-width: 19rem;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
#title{
    font-size: 2.1rem;
    padding-bottom: 1.7rem;
    font-weight: 700;
    text-align: center;
}
.img-bg,.img-box,  .img-woman-online{
    position: absolute;
}

#FAQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    font-size: 0.9rem;
}
hr{
    height: 1px;
    border: none;
    background-color: var(--light-grayish-blue);
}
.accordion{
    padding: 1.2rem 0;
    cursor: pointer;
}
.accordion:hover{
    color: var(--soft-red);
}
.question{
    position: relative;
    padding-right: 1rem;
}
.question::marker{
    content: "";
}
.question::after{
    content: url(/assets/img/icon-arrow-down.svg);
    position: absolute;
    right: 0;
}
.accordion[open]>.question{
    font-weight: bold;
}
.accordion[open]>.question::after{
  transform: rotate(180deg);
}
.answer{
    padding: 1rem 1rem 0 0;
    font-size: 0.8rem;
    color: var(--dark-grayish-blue);
}
.attribution { 
    font-size: 0.8rem; 
    text-align: center; 
    margin-top: -3rem;
    padding-bottom: 3rem;
    color: var(--light-grayish-blue);
}
.attribution a { 
    text-decoration: none;
    font-weight: 700;
    color: var(--white); 
}
@media (min-width:70rem){
    #container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: 60rem;
        min-height: 30rem;
    }
    #container::after{
        content: url(/assets/img/illustration-box-desktop.svg);
        position: absolute;
        left: -5.8rem;
        top: 12.3rem;
    }
    #title{
        text-align: left;
    }
    #images{
        position: relative;
        overflow: hidden;
        height: 100%;
    }
    #images::before{
        content: url(/assets/img/bg-pattern-desktop.svg);
        top: -19rem;
        left: -35rem;
        transform: translate(-2%);
    overflow: visible;

    }
    #images::after{
        content: url(/assets/img/illustration-woman-online-desktop.svg);
        width: 34.5rem;
        left:-5.3rem;
        top: 4rem;
        transform: translate(1%);

    }
    #FAQ{
        padding: 5rem 6rem 5rem 1rem;
    }
    .question::after{
        right: 1rem;
    }
}